{% extends "base.html" %}

{% block page_title %}Change Email{% endblock page_title %}

{% block navLinks %}
<a class="nav-link" href="{{ url_for('user.user_home') }}">Home</a>
<a class="nav-link mx-4" href="{{ url_for('main.about') }}">About</a>
<a class="nav-link dropdown-toggle mx-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Account
</a>
<ul class="dropdown-menu dropdown-menu-end dropdown-menu-light">
    <li><a class="dropdown-item active" href="{{ url_for('user.request_change_email') }}" aria-current="true">Change Email</a></li>
    <li><a class="dropdown-item" href="{{ url_for('user.change_password') }}">Change Password</a></li>
<!--    <li><a class="dropdown-item" href="#">Another Action</a></li>-->
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
</ul>
{% endblock navLinks %}

{% block formContainer %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2 class="my-4">Let's get you a new email address</h2>
            {{ super() }}
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {% for field, err in form.errors.items() %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <i class="fa-solid fa-triangle-exclamation me-2"></i>
                            {{ err[0] }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                {{ form.new_email.label(class="form-label") }}
                {{ form.new_email(class="form-control") }}
                </div>

                <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                </div>

                <div class="mt-4 mb-1">
                    {{ form.submit_btn(class="btn btn-primary") }}
                </div>

            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock formContainer %}