{% extends "base.html" %}

{% block page_title %}Password Reset{% endblock page_title %}

{% block navLinks %}
<a class="nav-link" href="#">Home</a>
<a class="nav-link" href="{{ url_for('auth.register_page') }}">Register</a>
<a class="nav-link active" aria-current="page" href="{{ url_for('auth.login_page') }}">Log In</a>
<a class="nav-link" href="{{ url_for('main.about') }}">About</a>
{% endblock navLinks %}

{% block formContainer %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2 class="my-4">Create password reset request</h2>
            {{ super() }}
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {% for field, err in form.errors.items() %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <i class="fa-solid fa-triangle-exclamation me-2"></i>
                            {{ err[0] }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                </div>

                <div class="mt-4 mb-1">
                    {{ form.submit_btn(class="btn btn-primary") }}
                </div>

            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock formContainer %}